.as-clr-green
{
  color: green;
}

.as-clr-orange
{
  color: orange;
}

.as-clr-red
{
  color: red;
}

.as-clr-pink
{
  color: pink;
}

.as-clr-blue
{
  color: blue;
}

.as-clr-yellow
{
  color: yellow;
}

.as-clr-purple
{
  color: #831BB8;
}

.as-clr-light-purple
{
  color: #BA3FF9;
}

.as-clr-light-green
{
  color: #3FF93F;
}

.as-clr-light-blue
{
  color: #3FF9E0;
}

.as-clr-zihong
{
  color: #BF1979;
}

.as-clr-grey
{
  color: #A19FA0;
}

/* other */
.publish-btn
{
  position: absolute;
  top: 850px;
}

.publishbtn-left1
{
  left: 175px;
}

.publishbtn-left2
{
  left: 275px;
}


