.danmu {
  height: 38px;
  width: auto;
  position: fixed;
  bottom: 50px;
  right: 1px;
}

.dm-content {
  height: 100%;
  width: 120px;
  background: green;
  position: relative;
  float: left;
  opacity: 0.0;
  visibility: hidden;
  transition:opacity 0.3s;
}

.dm-deliver {
  height: 100%;
  width: 50px;
  background: pink;
  opacity: 0.85;
  border-radius: 3px;
  position: relative;
  float: right;
}

.dm-deliver:hover+.dm-content {
  opacity: 0.85;
  visibility: visible;
}

.dm-content:hover {
  opacity: 0.85;
  visibility: visible;
}

.cute-font:hover {
  position:relative;
  top:0px;
  -webkit-animation-name:cute_style_1;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  animation-name:cute_style_1;
  animation-duration:0.5s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

@-webkit-keyframes cute_style_1 {
  0%    {top:0px;}
  50%   {top:-5px;}
  100%  {top:0px;}
}

@keyframes cute_style_1 {
  0%    {top:0px;}
  50%   {top:-5px;}
  100%  {top:0px;}
}


