.leave-margin-bottom, .leave-margin-top {
  height:15px;
}
.msg-board-page {
  width:1200px;
	height:auto;
	background:rgba(200, 200, 200, 0.9);
  top:30px;
  position:relative;
  margin:auto;
}

.msg-board-list {
  width:80%;
  height:auto;
  margin-left:10%;
  margin-bottom:30px;
  background:#Fa5;
  border-radius:6px;
  top:10px;
  position:relative;
  float:left;
}

.msg_item-outer-margin {
  width:96%;
  margin-left:2%;
}

.msg-item {
  width:100%;
	margin-left:0%;
	margin-top:20px;
  background:rgba(200, 0, 0, 0.3);
	border-radius:6px;
  float:left;
	height:auto;

}

/* avatar */
.msg-item-left {
  width:90px;
	height:90px;
	text-align:center;
  background:#bb0;
  float:left;
}
.msg-item-right {
  width:88%;
  height:auto;;
  float:right;
  background:#777;
}

.msg-item-right-main-content {
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column;
}

.msg-title {
}

.msg-name {
  width:auto;
  height:20px;
  background:red;
  float:left;
}

.msg-level-head {
  width:30px;
  height:20px;
  background:white;
  border-radius:5px 0 0 5px;
  float:left;
  margin-left:10px;
}

.msg-level-body {
  width:50px;
  height:20px;
  background:pink;
  border-radius:0 5px 5px 0;
  float:left;
}

.msg-content {
  margin-top:10px;
  color:orange;
  background:#888;
}

.msg-addition {
  background:rgba(125, 125, 125, 0.1);
  width:100%;
  height:auto;
}

.msg-item-reply {
  width:100%;
  height:auto;
  float:left;
  margin-top:5px;
  margin-bottom:10px;
}

.msg-reply-left {
  width:50px;
  height:50px;
  background:#5a0;
  float:left;
}

.msg-reply-right {
  background:#a39;
  height:auto;
  width:90%;
  float:right;
  display:flex;
  flex-direction:column;
  border-radius:10px;
}

.reply-display {
  display:none;
}

.comment {
}


/* pagination */
.pag-center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color:#ddd;
}

.pagination a:hover {
  text-decoration: none;
}

.hidden-messages {
  display:none;
}

.pagination a {
  display:none;
}

.hidden-span {
  display:none;
}

