@font-face {
  font-family: happy;
  src:url('Font/happy_cn.ttf');
}
@font-face {
  font-family: CF;
  src:url('Font/CF.ttf');
}


* {
  font-family: "happy", "CF","Arial",'Times New Roman','Microsoft YaHei';
}


.body-img-resume {
  background:url("images/wall-paper/resume.jpg") no-repeat fixed center;
  background-size:cover;
}

.donate-leave-margin {
  height: 25px;
}

.donate-leave-margin-1 {
  height: 10px;
}

.post-content-donate {
  position: relative;
  top: 98px;
}

.donate-qrcode-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.donate-div {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.donate-div-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.qrcode-desc {
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

.wechatPay {
  color: #639c01;
}

.aliPay {
  color: #049bd0;
}

.bitcoin {
  color: #ff004e;
}

.dogecoin {
  color: #6a297d;
}

.context-article-origin {
  width:100%;
  min-height:10px;
  height:auto;
  height:4100px; /* modify here to change height while adding ourstory' links! */
  margin-bottom:80px;
  margin-top:-50px;
  background:rgba(240, 240, 240, 0.75);
  border-radius:7px;
}

.context-article-donate {
  width:100%;
  min-height:320px;
  height:auto;
  margin-bottom:80px;
  margin-top:-50px;
  background:rgba(240, 240, 240, 0.75);
  border-radius:7px;
}

.donate-qgwl-avatar {
  width: 200px;
  height: 200px;
  position: relative;
  top: 5px;
  left: 20px;
  float: left;
}

.donate-qgwl-avatar-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
  transition: opacity 0.3s;
  opacity: 0.9;
}

.donate-qgwl-avatar-img:hover {
  opacity: 1;
}

.donate-qgwl-head {
  float: left;
  height: 160px;
  height: auto;
  width: 920px;
  width: 305px;
  border-radius: 5px;
  background: rgba(245, 211, 128, .25);
  background: #e0fdfd;
  padding: 8px;
  color: rgba(246, 175, 0, 1);
  color: #008cba;
  border: 1px solid rgba(0, 140, 186, .3);
  position: relative;
  margin-top: 10px;
  margin-left: 11px;
}

.donate-qgwl-head-2 {
  float: left;
  height: 160px;
  height: auto;
  width: 920px;
  width: 305px;
  border-radius: 5px;
  background: rgba(245, 211, 128, .25);
  background: #fbd3d3;
  padding: 8px;
  color: rgba(246, 175, 0, 1);
  color: #ff8080;
  border: 1px solid #fbb2b2;
  position: relative;
  margin-top: 10px;
  margin-left: 11px;
}

.donate-ourstory {
  height: 80px;
  width: 80px;
  position: relative;   /* realtive */
  float: left;
  margin-left: 18px;
  margin-top: 0px;
}

.donate-ourstory-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid rgba(0, 120, 150, .7);
}

.ourstory-desc {
  position: relative;
  float: left;
  margin-left: 18px;
  margin-top: 8px;
}

.ourstory-sign-font-size {
  font-size: 13px;
}

.donate-qgwl-speech {
  float: right;
  height: auto;
  width: 920px;
  border-radius: 5px;
  background: rgba(245, 223, 189, .9);
  padding: 8px;
  color: rgba(246, 175, 0, 1);
  position: relative;
  border: 1px solid rgba(246, 175, 0, .3);
  top: 118px;
  right: 20px;
}

.donate-qgwl-avatar-desc {
  height: auto;
  color: #566;
  width: 150px;
  text-align: center;
}

.donate-play-font {
  font-size: 30px;
  color: black;
  position: relative;
  top: 55px;
  z-index: 3;
  opacity: .3;
  left: 60px;
  transition: opacity 0.3s;
  height: 0;
}

.donate-play-font:hover {
  opacity: .55;
}

.donate-play-font:hover+.donate-qgwl-avatar-img {
  opacity: 1;
}


.donate-qgwl-speech::selection {
  background: rgba(246, 175, 0, .55);;
  color: rgba(250, 250, 250, 1);
}

.donate-qgwl-speech::-moz-selection {
  background: rgba(246, 175, 0, .55);;
  color: rgba(250, 250, 250, 1);
}

.donate-qgwl-speech::-webkit-selection {
  background: rgba(246, 175, 0, .55);;
  color: rgba(250, 250, 250, 1);
}

.ourstory-single-style {
  float: left;
  width: 100%;
  margin-bottom: 1px;
  padding: 6px;
  border-radius: 8px;
}

.ourstory-single-style:hover {
  background: rgba(24, 175, 200, .08);;
}

.ourstory-single-style-2 {
  float: left;
  width: 100%;
  margin-bottom: 1px;
  padding: 6px;
  border-radius: 8px;
}

.ourstory-single-style-2:hover {
  background: rgba(255, 98, 98, .08);;
}


*::selection {
  background: rgba(46, 175, 10, .35);;
}

*::-moz-selection {
  background: rgba(46, 175, 10, .35);;
}

*::-webkit-selection {
  background: rgba(46, 175, 10, .35);;
}

.ourstory-link-style {
  color: #058ebb;
}

.ourstory-link-style:hover {
  text-decoration: none;
  color: rgba(5, 142, 187, .75);
}

.ourstory-link-style-2 {
  color: #ff8080;
}

.ourstory-link-style-2:hover {
  text-decoration: none;
  color: rgba(255, 128, 128, .75);
}

.empty-div {
    opacity: 0;
    height: 18px;
}

.empty-div-2 {
    height: 5px;
}

.ourstory-head-desc {
    height: 16px;
    color: #058ebb;
}









html, body {
  height: 100%;
  margin: 0;
}

body, #boxes div {
  display: flex;
  align-items: center;
  justify-content: center;
}

body:after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  background: var(--bg-color, #f44336);
  opacity: .1;
}

#boxes {
  counter-reset: number;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  float: fixed;
}

@media (max-width: 320px) {
  #boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

#boxes div {
  counter-increment: number;
  width: 1vw;
  height: 1vw;
  min-width: 7em;
  min-height: 7em;
  transition: .5s all ease;
  background: var(--color, #aaa);
  border: 0 solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  margin: .5em;
  opacity: .7;
  --dx: calc(var(--size) - var(--x));
  --dy: calc(var(--size) - var(--y));
}

body:not([style]) #boxes div:first-child {
  --x: 84;
  --y: 75;
  --size: 128;
}

body:not([style]) #boxes div:first-child,
#boxes div:hover {
  opacity: 1;
  cursor: pointer;
  border: calc(2px + .85vw) solid rgba(255, 255, 255, .5);
  transition:
    .5s background-color ease,
    .2s border ease;

  border-radius:
    calc(var(--x) / var(--size) * 100%)
    calc(var(--dx) / var(--size) * 100%)
    calc(var(--dx) / var(--size) * 100%)
    calc(var(--x) / var(--size) * 100%) /
    calc(var(--y) / var(--size) * 100%)
    calc(var(--y) / var(--size) * 100%)
    calc(var(--dy) / var(--size) * 100%)
    calc(var(--dy) / var(--size) * 100%)
}

body:not([style]) #boxes div:first-child:after,
#boxes div:after {
  color: rgba(255, 255, 255, 0);
  font-size: calc(1vw + .2em);
  font-weight: 200;
  transition: all .2s ease;
  transition-delay: .1s;
  transform: translate3d(0, -.5em, 0);
}

body:not([style]) .bo1 div:first-child:after,
.bo1 div:after {
    font-size: 12;
  content: "我们的回忆";
}
body:not([style]) .bo2 div:first-child:after,
.bo2 div:after {
  content: "未完成的故事";
}
body:not([style]) .bo3 div:first-child:after,
.bo3 div:after {
  content: "计划中的未来";
}
body:not([style]) .bo4 div:first-child:after,
.bo4 div:after {
  content: "想和你一起";
}
body:not([style]) .bo5 div:first-child:after,
.bo5 div:after {
  content: "精灵的祝福";
}
body:not([style]) .bo6 div:first-child:after,
.bo6 div:after {
  content: "伊甸园";
}

body:not([style]) #boxes div:first-child:after,
#boxes div:hover:after {
  color: rgba(255, 255, 255, .7);
  transform: translate3d(0, 0, 0);
}

.jelly1 {
    position: fixed;
    left: 10px;
    top: 90px;
}
.jelly2 {
    position: fixed;
    left: 10px;
    top: 190px;
}

.jelly3 {
    position: fixed;
    left: 10px;
    top: 290px;
}
.jelly4 {
    position: fixed;
    left: 10px;
    top: 390px;
}
.jelly5 {
    position: fixed;
    left: 10px;
    top: 490px;
}
.jelly6 {
    position: fixed;
    left: 10px;
    top: 590px;
}
