.leave-margin-bottom, .leave-margin-top {
  height:15px;
}

.outer-align-main {
  width:350px;
  height:1000px;
  position:relative;
  top:70px;
  margin:auto;
/* background:#888;
  */
}

.sign-main {
  width:300px;
  margin-left:25px;
  height:600px;
  /*
   * background:#aa8;
   */
  position:absolute;
  top:0;
}

.form-div {
}

.form-label {
  position:relative;
  float:left;
  width:90%;
  left:10px;
  margin-top:5px;
}

.form-input {
  position:relative;
  float:left;
  width:90%;
  margin-top:5px;
  margin-left:5%;
}

.my-form-control {
  background:#aaa;
}

/*
.head-error {

}

.head-error-sub {

}

.close {

}

.register {

}

.center-block {

}

.panel-heading {

}

.panel-title {

}

.panel-body {

}

.form-group {

}

.text-danger{

}
*/




