@font-face {
  font-family:fontello;
  src:url('images/font/fontello.eot'),
  url('images/font/fontello.svg'),
  url('images/font/fontello.ttf'),
  url('images/font/fontello.woff'),
  url('images/font/fontello.woff2');
}

* {
  margin:0;
  padding:0;
}
/* NavBar */
#navigation, #navigation li ul {
	list-style-type:none;
}
#navigation {
	margin:0px;
}
#navigation li {
	float:left;
	text-align:center;
	position:relative;
}
#navigation li a:link, #navigation li a:visited {
	display:block;
	text-decoration:none;
	color:#EEE;
	width:120px;
	height:40px;
	line-height:40px;
	background:rgba(255, 255, 255, 0.0);
}
#navigation li a:hover {
	color:#fff;
	background:#ab6fc4;
}
#navigation li ul li a:hover {
	color:#ff0;
	background:#ab6fc4;
}
#navigation li ul {
	display:none;
	position:absolute;
	top:40px;
	left:0;
	width:120px;
	background:rgba(255, 255, 255, 0.1);
}
.navbar {
	width:100%;
	height:40px;
	position:fixed;
	top:0;
	left:0;
	padding:0;
	background:rgba(255, 255, 255, 0.1);
}
.container {
	width:80%;
	height:40px;
	position:fixed;
	left:10%;
	background:rgba(30, 30, 30, 0.0);
}
.test1 {
	width:70px;
	height:1500px;
	top:100px;
	background:rgba(30, 30, 30, 1);
}
/* NavBar */


/* Header */
header {
  width:100%;
  height:700px;
  background: url('images/bg2.png');
}
/* Header */

/* Main */
.outer-align-main {
  width:1400px;
  height:1000px;
  position:relative;
  top:70px;
  margin:auto;
}

#main {
  width:1200px;
  height:1000px;
  background:rgba(0, 0, 0, 0);
  position:absolute;
  top:0px;
  margin-left:100px;
}

#context {
  width:70%;
  height:100%;
  left:0%;
  background:rgba(30, 30, 30, 0);
  float:left;
}

aside {
  width:25%;
  height:500px;
  right:0%;
  background:rgba(30, 30, 30, 0.6);
  float:right;
}

#context article {
  width:100%;
  min-height:200px;
  height:auto;
  margin-bottom:50px;
  background:rgba(100, 100, 100, 0.6);
}

/* date */
#context article div {
  width:70px;
  height:70px;
  position:relative;
  top:-35px;
  left:-35px;
  text-align:center;
  color:#FFF;
  border-radius:50%;
  box-shadow:1px 1px 1px #888888;
  background:rgba(0, 90, 120, 1);
}

/* decorate for div */
#context article div div {
  border-radius:0%;
  width:120px;
  height:28px;
  position:relatve;
  top:85px;
  left:15px
}

#context article div div div {
  width:0;
  height:0;
  border-top:12px solid rgba(150, 50, 250, 1);
  border-left:20px solid transparent;
  position:absolute;
  top:28px;
  left:0;
  box-shadow:0 0 0 #000;
  background:rgba(0, 0, 0, 0);
}

.post-title {
  background:red;
}

#context article span .post-title {
  color:#233;
  font-size:35px;
  font-weight:600;
  width:100%;
  left:0;
  top:-50;
  border-radius:0;
  height:50px;
  background:rgba(0, 0, 0, 0);
  box-shadow:0 0 0 #000;
}

#context article span .post-subtitle {
  color:#344;
  font-size:20px;
  width:100%;
  left:0;
  top:-50px;
  border-radius:0;
  height:30px;
  background:rgba(0, 0, 0, 0);
  box-shadow:0 0 0 #000;
}

#context article span {
}

#context article span p {
  margin:30px;
}

#context article span .post-readmore {
  border-radius:0;
  height:20px;
  width:100px;
  background:grey;
  padding:3px;
  margin-top:50px;
  left:689px;
}

.findme {
  background:rgba(200, 200, 200, 0.1);
  width:96%;
  poosition:relative;
  height:320px;
  padding:2%;
  box-shadow:0 0 0 rgba(0, 0, 0, 1);
  transition:box-shadow 0.1s;
}

.findme:hover {
  box-shadow:3px 3px 3px rgba(100, 100, 100, 1);
}

.my-avatar {
  width:100%;
  height:200px;
  background:url("images/avatar.jpeg");
  margin-bottom:20px;
}

.catch-me {
  width:96%;
  height:90px;
  padding:2%;
  display:-webkit-flex;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  font-family:fontello;
  font-size:20px;
}

.catch-me div div {
  background:#0bb;
  color:rgba(200, 200, 200, 1);
  border-radius:50%;
  transition:background 0.5s, color 0.5s;
  -webkit-transition:background 0.5s, color 0.5s;
}

.catch-me div div:hover {
  background:#0b0;
  color:rgba(100, 100, 200, 1);
}

.catch-me-1 {
  height:35px;
  width:50%;
  margin-bottom:10px;
  display:-webkit-inline-flex;
  display:inline-flex;
  justify-content: space-around;
  line-height:35px;
}
.catch-me-1-1 {
  height:35px;
  width:35px;
}

.catch-me-1-1:after {
  content:"\f1d6";
}

.catch-me-1-2 {
  height:35px;
  width:35px;
}

.catch-me-1-2:after {
  content:"\f1d7";
}

.catch-me-1-3 {
  height:35px;
  width:35px;
}

.catch-me-1-3:after {
  content:"\f18a";
}

.catch-me-2 {
  height:35px;
  width:70%;
  display:-webkit-inline-flex;
  display:inline-flex;
  justify-content:space-around;
  line-height:35px;
}

.catch-me-2-1 {
  height:35px;
  width:35px;
}

.catch-me-2-1:after {
  content:"\f300";
}

.catch-me-2-2 {
  height:35px;
  width:35px;
}

.catch-me-2-2:after {
  content:"\f09e";
}

.catch-me-2-3 {
  height:35px;
  width:35px;
}

.catch-me-2-3:after {
  content:"\e801";
}

.catch-me-2-4 {
  height:35px;
  width:35px;
}

.catch-me-2-4:after {
  content:"\e802";
}

.likeme {
  width:100%;
  height:100px;
  background:#0bb;
  margin-top:20px;
}

.like-me-text {
  color:pink;
  text-align:center;
  font-size:20px;
  height:20px;
}

.click-like-me {
  font-family:fontello;
  display:inline-flex;
  justify-content:space-around;
  width:60%;
  margin-top:10px;
  margin-left:20%;
  height:60px;
}

.like-me-1 {
  background:red;
  width:50px;
  height:50px;
  position:relative;
}

.like-me-1:before {
  content:"\e800";
}
.like-me-1:after {
  content:"Yes!";
  top:10px;
}

.like-me-0 {
  background:red;
  width:50px;
  height:50px;

}

.talktome {

}

.read {

}

.closeaside {

}

/* Main */


