{% load static %}
<link href="{% static 'polls/fixed.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://at.alicdn.com/t/font_526920_i3rpt8jzr02uik9.js">
</script>
<script src="{% static 'polls/googleapis/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<style type="text/css">
    .icon {
        width: 1em; height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
</style>

<script type="text/javascript">
    var dm_string = "";

    function ScaleUpAp(e){
        ap.setMode('normal');
        e.style.zIndex = "-1";
        e.style.opacity = "0";
        var o_e = document.getElementById("apUnsetFolder");
        o_e.style.opacity = "1";
        o_e.style.zIndex = "1";
    }

    function ScaleDownAp(e){
        ap.setMode('mini');
        e.style.zIndex = "-1";
        e.style.opacity = "0";
        var o_e = document.getElementById("apSetFolder");
        o_e.style.opacity = "1";
        o_e.style.zIndex = "1";
    }

    function dm(){
        //document.getElementById("dm-content");
        alert(1);
    }

    function mouseOverCute(e){
        e.setAttribute('class', "cute-font");
    }
    function mouseOutCute(e){
        e.setAttribute('class', "");
    }

    //function mouseOverDM(){
    //    document.getElementById('dm-text').innerHTML = dm_string;
    //}

    //function mouseOutDM(){
    //    dm_string = document.getElementById('dm-text').innerHTML;
    //    document.getElementById('dm-text').innerHTML = "";
    //}

      function WebSocketDM()
      {
        if ("WebSocket" in window)
        {
          socket = new WebSocket("ws://" + "139.180.129.20:80" + "/Nekko0/");
          socket.onmessage = function(e) {
            // 创建弹幕
            var jqueryDom = createScreenbullet(e.data);
            // 添加定时任务
            addInterval(jqueryDom, e.data.split("|")[0]);
          }
          socket.onopen = function() {
          }
          if (socket.readyState == WebSocket.OPEN)
          {
            socket.onopen();
          }
        }
        else
        {
          // 浏览器不支持 WebSocket
          alert("您的浏览器不支持 WebSocket!");
        }
      }
      function sendDM(){
        var e = document.getElementById("dm-input-content");
        var e_v = e.value;
        var s_v;
        if (e_v == "") {
            s_v = dm_string;
        } else {
            s_v = e_v;
            dm_string = e_v;
            e.value = "";
            e.placeholder = e_v;
        }
        $.get("{% url 'polls:sendDM' %}", {'dmValue': s_v}, function(ret){
        })
      }

      WebSocketDM();

    //dm
    // 弹幕定时器
    var timers = [];
    // 控制弹幕显隐变量
    var isShow = true;
    // 监听关闭弹幕按钮
    $("#clearDM").on("click", function () {
        if (isShow) {
            $(".dm").css("visibility", hidden);
            isShow = false;
        } else {
            $(".dm").css("visibility", visible);
            isShow = true;
        }
    });
    // 新建一个弹幕
    function createScreenbullet(text) {
        var dmAva = text.split("|")[1];
        var dmVal = text.split("|")[2];
        var jqueryDom = $("<div class='dm'><img src='" + dmAva + "' class='dm-avatar'></img>&nbsp;" + dmVal + "</div>");
        var fontColor = "rgb(" + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + ")";
        var dmBackground = "rgba(" + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + ", 0.5)";
        var fontSize = Math.floor((Math.random() + 1) * 24) + "px";
        //window对象属性获取:window.document.body.offsetWidth
        var left = window.document.body.offsetWidth + "px";
        var winHeight = window.innerHeight;
        var winHeightLess = winHeight - 50;
        var randScale = Math.random();
        randScale = randScale < 0.1 ? 0.1 : randScale;
        randScale = randScale > 0.9 ? 0.9 : randScale;
        var top = Math.floor(randScale * winHeight) + "px";
        top = parseInt(top) > winHeightLess ? (winHeightLess+"px") : top;
        jqueryDom.css({
            "position": 'fixed',
            "color": fontColor,
            "font-size": '20px',
            "left": left,
            "top": top,
            "padding": '0px 7px',
            "padding-left": '7px',
            "width": 'auto',
            "height": '28px',
            "line-height": '28px',
            "overflow": 'hidden',
            "border-radius": '5px',
            "z-index": '3',
            "background": dmBackground
        });
        $("#dm-show").append(jqueryDom);
        return jqueryDom;
    }
    // 为弹幕添加定时任务
    function addInterval(jqueryDom, flushInterval) {
        var left = window.document.body.offsetWidth;
        var timestamp = Date.parse(new Date());
        var timer = setInterval(function () {
            left--;
            jqueryDom.css("left", left + "px");
            if (Date.parse(new Date()) - timestamp > 120000) {
                jqueryDom.remove();
                clearInterval(timer);
            }
        }, parseInt(flushInterval));
        timers.push(timer);
    }

    function smoothscroll(){
        var curScroll = document.documentElement.scrollTop || document.body.scrollTop;
        if (curScroll > 0) {
            window.requestAnimationFrame(smoothscroll);
            window.scrollTo(0, curScroll - (curScroll/5));
        }
    }

    hbd_pre = ["祝", "祝福", "愿"];
    hbd_nickname = ["小何", "何涵微", "小微微", "小薇薇", "微微", "小何~", "hhw", "Hhw", "hhv"];
    hbd_body = ["生日快乐", "生快"]; // must exist
    hbd_tail = ["呀", "哦", "哟"];
    hbd_tail2 = ["!", "!!", "!!!", "!!!!", "!!!!!", "~", "~~", "~!~", "!!~", "><", "QAQ", "嘻嘻~", "哈哈哈"];
    hbd_all = [hbd_pre, hbd_nickname, hbd_body, hbd_tail, hbd_tail2];
    function getrandom(li)
    {
        var randNum = Math.floor(Math.random() * li.length);
        return li[randNum];
    }
    
    function get_hbd_str() {
        s_v = ""
        for (var j = 0; j < hbd_all.length; j++) {
            if (hbd_all[j] != hbd_body) {
                if (Math.floor(Math.random() * 2) == 1) {
                    s_v += getrandom(hbd_all[j]);
                }
            } else {
                s_v += getrandom(hbd_all[j]);
            }
        }
        return s_v;
    }

    function happy_birthday_to_Hhw(cnt = 10)
    {
	for (var idx = 0; idx < cnt; idx ++) {
	    s_v = get_hbd_str();
            $.get("{% url 'polls:sendDM' %}", {'dmValue': s_v}, function(ret){
        })
	}
    }
</script>

<div class="top-disabled fixed-font-style" id="totop" onclick="smoothscroll()">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-top"></use>
    </svg>
</div>

<div class="danmu">
  <div class="dm-deliver fixed-font-style" id="dm-deliver" onclick="sendDM()">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-send1"></use>
    </svg>
  </div>
  <div class="dm-content" id="dm-content">
      <div class="form-group" id="dm-text">
          <input id="dm-input-content" type="text" class="my-form-control" maxlength="50" placeholder="装填弹幕！发射！">
          </input>
      </div>
  </div>
</div>

<div id="dm-show">
</div>

<!-- 音乐播放器 -->
<link rel="stylesheet" href="{% static 'polls/node_modules/aplayer/dist/APlayer.min.css' %}">
<link rel="stylesheet" href="{% static 'polls/aplayer.css' %}">
<script src="{% static 'polls/node_modules/aplayer/dist/APlayer.min.js' %}"></script>

<div class="aplayer-outer">
  <div id="aplayer" class="aplayer-inner-container">
  </div>
</div>
<div class="apSetFolder" onclick="ScaleUpAp(this)" id="apSetFolder">
  <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-fangda"></use>
  </svg>
</div>
<div class="apUnsetFolder" onclick="ScaleDownAp(this)" id="apUnsetFolder">
  <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-suoxiao1"></use>
  </svg>
</div>

<script type="text/javascript">
  const ap = new APlayer({
    container: document.getElementById('aplayer'),
    mini: true,
    autoplay: true,
    theme: '#FADFA3',
    loop: 'all',
    order: 'random',
    preload: 'auto',
    volume: 0.7,
    mutex: true,
    listFolded: true,
    listMaxHeight: '98px',
    lrcType: 3,
    audio: [
    
    {
      name: '夜晚的海滨小镇',
      artist: '皮璐宇',
      url: 'https://mp3.itingwa.com/2016-10/25/20161025120129-OTcwNzI5.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '洱海的偶遇(钢琴曲)',
      artist: '张宇桦',
      url: "{% static 'polls/Resource/mp3/ehdoy.mp3' %}",
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    }
    ]
  });

    var lastApBgClassName = "";
    ap.on('switchaudio', function (idx) {
        var apList = document.getElementById('aplayer').lastElementChild.firstElementChild;
        var apListSize = apList.childElementCount || apList.children.length;
        var apClassIdx = apListSize - 1 - idx;
        //var apClassNames = "aplayer-inner-container-b" + apClassIdx;
        var apClassNames = "aplayer-inner-container-b-abmusic";
        if (lastApBgClassName != ""){
            document.getElementById("aplayer").classList.remove(lastApBgClassName);
        }
        document.getElementById("aplayer").classList.add(apClassNames);
        lastApBgClassName = apClassNames;
        //换文案
        modifyComment(idx);
    });

    var apIntervalEle = document.getElementById('aplayer');
    var scaleDownIntervalEle = document.getElementById('apUnsetFolder');
    setInterval(function () {
        if (apIntervalEle.clientHeight == 90){
            scaleDownIntervalEle.style.bottom = "124px";
        }
        else if (apIntervalEle.clientHeight == 66){
        }
        else{
            //(apIntervalEle.clientHeight == 155)
            scaleDownIntervalEle.style.bottom = "222px";
        }
    }, 500);

    setInterval(function () {
        ap.volume(0.7, true);
    }, 3000);
</script>



