{% load static %}
<link href="{% static 'polls/fixed.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://at.alicdn.com/t/font_526920_i3rpt8jzr02uik9.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<style type="text/css">
    .icon {
        width: 1em; height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
</style>

<script type="text/javascript">
    var dm_string = "";

    function ScaleUpAp(e){
        ap.setMode('normal');
        e.style.zIndex = "-1";
        e.style.opacity = "0";
        var o_e = document.getElementById("apUnsetFolder");
        o_e.style.opacity = "1";
        o_e.style.zIndex = "1";
    }

    function ScaleDownAp(e){
        ap.setMode('mini');
        e.style.zIndex = "-1";
        e.style.opacity = "0";
        var o_e = document.getElementById("apSetFolder");
        o_e.style.opacity = "1";
        o_e.style.zIndex = "1";
    }

    function dm(){
        //document.getElementById("dm-content");
        alert(1);
    }

    function mouseOverCute(e){
        e.setAttribute('class', "cute-font");
    }
    function mouseOutCute(e){
        e.setAttribute('class', "");
    }

    //function mouseOverDM(){
    //    document.getElementById('dm-text').innerHTML = dm_string;
    //}

    //function mouseOutDM(){
    //    dm_string = document.getElementById('dm-text').innerHTML;
    //    document.getElementById('dm-text').innerHTML = "";
    //}

      function WebSocketDM()
      {
        if ("WebSocket" in window)
        {
          socket = new WebSocket("ws://" + "192.168.130.129:8000" + "/Nekko0/");
          socket.onmessage = function(e) {
            // 创建弹幕
            var jqueryDom = createScreenbullet(e.data);
            // 添加定时任务
            addInterval(jqueryDom, e.data.split("|")[0]);
          }
          socket.onopen = function() {
          }
          if (socket.readyState == WebSocket.OPEN)
          {
            socket.onopen();
          }
        }
        else
        {
          // 浏览器不支持 WebSocket
          alert("您的浏览器不支持 WebSocket!");
        }
      }
      function sendDM(){
        var e = document.getElementById("dm-input-content");
        var e_v = e.value;
        var s_v;
        if (e_v == "") {
            s_v = dm_string;
        } else {
            s_v = e_v;
            dm_string = e_v;
            e.value = "";
            e.placeholder = e_v;
        }
        $.get("{% url 'polls:sendDM' %}", {'dmValue': s_v}, function(ret){
        })
      }

      WebSocketDM();

    //dm
    // 弹幕定时器
    var timers = [];
    // 控制弹幕显隐变量
    var isShow = true;
    // 监听关闭弹幕按钮
    $("#clearDM").on("click", function () {
        if (isShow) {
            $(".dm").css("visibility", hidden);
            isShow = false;
        } else {
            $(".dm").css("visibility", visible);
            isShow = true;
        }
    });
    // 新建一个弹幕
    function createScreenbullet(text) {
        var dmAva = text.split("|")[1];
        var dmVal = text.split("|")[2];
        var jqueryDom = $("<div class='dm'><img src='" + dmAva + "' class='dm-avatar'></img>&nbsp;" + dmVal + "</div>");
        var fontColor = "rgb(" + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + ")";
        var dmBackground = "rgba(" + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + ", 0.5)";
        var fontSize = Math.floor((Math.random() + 1) * 24) + "px";
        //window对象属性获取:window.document.body.offsetWidth
        var left = window.document.body.offsetWidth + "px";
        var winHeight = window.innerHeight;
        var winHeightLess = winHeight - 50;
        var randScale = Math.random();
        randScale = randScale < 0.1 ? 0.1 : randScale;
        randScale = randScale > 0.9 ? 0.9 : randScale;
        var top = Math.floor(randScale * winHeight) + "px";
        top = parseInt(top) > winHeightLess ? (winHeightLess+"px") : top;
        jqueryDom.css({
            "position": 'fixed',
            "color": fontColor,
            "font-size": '20px',
            "left": left,
            "top": top,
            "padding": '0px 7px',
            "padding-left": '7px',
            "width": 'auto',
            "height": '28px',
            "line-height": '28px',
            "overflow": 'hidden',
            "border-radius": '5px',
            "z-index": '3',
            "background": dmBackground
        });
        $("#dm-show").append(jqueryDom);
        return jqueryDom;
    }
    // 为弹幕添加定时任务
    function addInterval(jqueryDom, flushInterval) {
        var left = window.document.body.offsetWidth;
        var timestamp = Date.parse(new Date());
        var timer = setInterval(function () {
            left--;
            jqueryDom.css("left", left + "px");
            if (Date.parse(new Date()) - timestamp > 120000) {
                jqueryDom.remove();
                clearInterval(timer);
            }
        }, parseInt(flushInterval));
        timers.push(timer);
    }

    function smoothscroll(){
        var curScroll = document.documentElement.scrollTop || document.body.scrollTop;
        if (curScroll > 0) {
            window.requestAnimationFrame(smoothscroll);
            window.scrollTo(0, curScroll - (curScroll/5));
        }
    }
</script>

<div class="top-disabled fixed-font-style" id="totop" onclick="smoothscroll()">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-top"></use>
    </svg>
</div>

<div class="danmu">
  <div class="dm-deliver fixed-font-style" id="dm-deliver" onclick="sendDM()">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-send1"></use>
    </svg>
  </div>
  <div class="dm-content" id="dm-content">
      <div class="form-group" id="dm-text">
          <input id="dm-input-content" type="text" class="my-form-control" maxlength="50" placeholder="装填弹幕！发射！">
          </input>
      </div>
  </div>
</div>

<div id="dm-show">
</div>

<!-- 音乐播放器 -->
<link rel="stylesheet" href="{% static 'polls/node_modules/aplayer/dist/APlayer.min.css' %}">
<link rel="stylesheet" href="{% static 'polls/aplayer.css' %}">
<script src="{% static 'polls/node_modules/aplayer/dist/APlayer.min.js' %}"></script>

<div class="aplayer-outer">
  <div id="aplayer" class="aplayer-inner-container">
  </div>
</div>
<div class="apSetFolder" onclick="ScaleUpAp(this)" id="apSetFolder">
  <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-fangda"></use>
  </svg>
</div>
<div class="apUnsetFolder" onclick="ScaleDownAp(this)" id="apUnsetFolder">
  <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-suoxiao1"></use>
  </svg>
</div>

<script type="text/javascript">
  const ap = new APlayer({
    container: document.getElementById('aplayer'),
    mini: true,
    autoplay: true,
    theme: '#FADFA3',
    loop: 'all',
    order: 'random',
    preload: 'auto',
    volume: 0.7,
    mutex: true,
    listFolded: true,
    listMaxHeight: '98px',
    lrcType: 3,
    audio: [
    {
      name: 'Somewhere',
      artist: 'July',
      url: 'http://other.web.ra01.sycdn.kuwo.cn/resource/n2/62/79/1505460541.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '勿念他归',
      artist: 'V.A.',
      url: 'http://other.web.nc01.sycdn.kuwo.cn/resource/n1/64/8/848774537.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: 'いのちの名前',
      artist: '広橋真紀子',
      url: 'http://other.web.rr01.sycdn.kuwo.cn/resource/n2/6/59/2808853958.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: 'Refrain',
      artist: 'Anan Ryoko',
      url: 'http://other.web.nf01.sycdn.kuwo.cn/resource/n2/63/90/76499938.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: 'Journey',
      artist: 'Capo Productions',
      url: 'http://other.web.nf01.sycdn.kuwo.cn/resource/n3/34/5/1176520486.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '风居住的街道',
      artist: 'iano ver) – 饭碗的彼岸',
      url: 'http://other.web.rn01.sycdn.kuwo.cn/resource/n2/42/19/2274432472.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '三生石',
      artist: '梅小涵',
      url: 'http://other.web.nc01.sycdn.kuwo.cn/resource/n2/7/0/3923017865.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '愿世界对你温柔相待',
      artist: '徐梦圆',
      url: 'http://other.web.rz01.sycdn.kuwo.cn/resource/n1/90/96/3996976019.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '洱海的偶遇(钢琴曲)',
      artist: '张宇桦',
      url: 'http://other.web.nc01.sycdn.kuwo.cn/resource/n3/67/27/3482711794.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '青石巷',
      artist: '魏琮霏',
      url: 'http://other.web.rm01.sycdn.kuwo.cn/resource/n2/46/37/3047981317.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '夜晚的海滨小镇',
      artist: '皮璐宇',
      url: 'http://other.web.rh01.sycdn.kuwo.cn/resource/n1/61/8/2455682099.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: 'Cry for The Moon',
      artist: '出羽良彰',
      url: 'http://other.web.ri01.sycdn.kuwo.cn/resource/n1/40/20/2853801846.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '海の涙',
      artist: '出羽良彰',
      url: 'http://other.web.rf01.sycdn.kuwo.cn/resource/n3/35/83/4141556937.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '云流れ',
      artist: 'みかん箱&Foxtail-Grass Studio',
      url: 'http://other.web.ri01.sycdn.kuwo.cn/resource/n2/89/43/2933143132.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: 'Town',
      artist: 'Windmill – a_hisa',
      url: 'http://other.web.ri01.sycdn.kuwo.cn/resource/n1/31/20/591511889.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '回梦游仙',
      artist: '骆集益',
      url: 'http://other.web.ra01.sycdn.kuwo.cn/resource/n1/320/49/60/1817840731.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '莫失莫忘-(电视剧《仙剑奇侠传》插曲)',
      artist: '麦振鸿',
      url: 'http://other.web.nf01.sycdn.kuwo.cn/resource/n1/91/77/2491907032.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: 'Sadness and Sorrow',
      artist: 'Nazareno Aversa',
      url: 'http://other.web.nl01.sycdn.kuwo.cn/resource/n1/11/48/4067817420.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '孤独(《火影忍者》动漫插曲)',
      artist: '动漫原声',
      url: 'http://other.web.ra01.sycdn.kuwo.cn/resource/n2/2009/09/12/953035891.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: 'ひとり',
      artist: '増田俊郎',
      url: 'http://other.web.ri01.sycdn.kuwo.cn/resource/n3/16/23/3631093947.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '失意',
      artist: '高梨康治',
      url: 'http://other.web.rh01.sycdn.kuwo.cn/resource/n1/59/59/4012785923.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '五月雨',
      artist: '高梨康治',
      url: 'http://other.web.rh01.sycdn.kuwo.cn/resource/n1/77/22/2544447920.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: 'Old Memory',
      artist: '三輪学 (Manack)',
      url: 'http://other.web.rw01.sycdn.kuwo.cn/resource/n3/40/3/3016671060.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: 'unjust life',
      artist: 'ANANT-GARDE EYES',
      url: 'http://other.web.ru01.sycdn.kuwo.cn/resource/n3/22/78/3124862568.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    },
    {
      name: '潮鳴り',
      artist: '折戸伸治',
      url: 'http://other.web.nc01.sycdn.kuwo.cn/resource/n2/33/60/885684070.mp3',
      cover: "{% static 'polls/node_modules/resource/cover/abmusic.jpg' %}",
      theme: '#FC709C',
      lrc: "{% static 'polls/node_modules/resource/lrc/abmusic.lrc' %}"
    }
    ]
  });

    var lastApBgClassName = "";
    ap.on('switchaudio', function (idx) {
        var apList = document.getElementById('aplayer').lastElementChild.firstElementChild;
        var apListSize = apList.childElementCount || apList.children.length;
        var apClassIdx = apListSize - 1 - idx;
        //var apClassNames = "aplayer-inner-container-b" + apClassIdx;
        var apClassNames = "aplayer-inner-container-b-abmusic";
        if (lastApBgClassName != ""){
            document.getElementById("aplayer").classList.remove(lastApBgClassName);
        }
        document.getElementById("aplayer").classList.add(apClassNames);
        lastApBgClassName = apClassNames;
        //换文案
        modifyComment(idx);
    });

    var apIntervalEle = document.getElementById('aplayer');
    var scaleDownIntervalEle = document.getElementById('apUnsetFolder');
    setInterval(function () {
        if (apIntervalEle.clientHeight == 90){
            scaleDownIntervalEle.style.bottom = "124px";
        }
        else if (apIntervalEle.clientHeight == 66){
        }
        else{
            //(apIntervalEle.clientHeight == 155)
            scaleDownIntervalEle.style.bottom = "222px";
        }
    }, 500);

    //setInterval(function () {
    //    ap.volume(0.7, true);
    //}, 3000);
</script>



