<!doctype html>
<html>
    <head>
        {% load static %}
        <link href="{% static 'polls/styled.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'polls/article_style.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'polls/prism/prism.css' %}" rel="stylesheet" />
        <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
        <script src="{% static 'polls/prism/prism.js' %}"></script>
        <link href="{% static 'polls/Resource/effect/firework/firework.css' %}" rel="stylesheet" />
        <script src="{% static 'polls/Resource/effect/firework/firework.js' %}"></script>
        <!--
        -->
        <script type="text/javascript" src="http://at.alicdn.com/t/font_526920_qihrql69j0v0a4i.js">
        </script>
        <style type="text/css">
            .icon {
                width: 1em; height: 1em;
                vertical-align: -0.15em;
                fill: currentColor;
                overflow: hidden;
            }
        </style>

        <script type="text/javascript">
            // 自定义转化标签
            function resetValue(e){
                var replaceCode = e.innerHTML.replace(/lt_cus/g, '<');
                replaceCode = replaceCode.replace(/gt_cus/g, '>');
                //alert(replaceCode);
                e.innerHTML = replaceCode;
            }

            function load(){
                //将文章内容中的格式标签替换
                var e_art_rep_conts = document.getElementsByName("art_rep_cont");
                var e_art_rep_conts_len = e_art_rep_conts.length;
                for (var e_art_rep_conts_idx = 0; e_art_rep_conts_idx < e_art_rep_conts_len; ++ e_art_rep_conts_idx)
                {
                    resetValue(e_art_rep_conts[e_art_rep_conts_idx]);
                }
                Prism.highlightAll();

                //固定显示7页
                var show_max = 7;
                var all_page_num = {{ object_list.0.1 }};
                var cur_page = {{ object_list.0.0 }};
                document.getElementById('first-page').style.display = "inline-block";
                document.getElementById('first-page').href = "/code/1";
                document.getElementById('last-page').style.display = "inline-block";
                document.getElementById('last-page').href = "/code/" + all_page_num;

                if (all_page_num <= show_max)
                {
                    for (var i = 1; i <= all_page_num; ++i)
                    {
                        var id = "page" + i;
                        var e = document.getElementById(id);
                        e.style.display = "inline-block";
                        e.innerHTML = i;
                        e.href = "/code/" + i;
                        if (i == cur_page)
                        {
                            e.setAttribute('class', 'active');
                        }
                    }
                }
                else
                {
                    //判断当前页和总页
                    //1 2 3 4 5 6 7 8 9 10
                    var half = Math.round(show_max / 2);
                    if (cur_page <= half)
                    {
                        //显示前面showmnax页
                        for (var p_n = 1; p_n <= show_max; p_n ++)
                        {
                            var p_id = "page" + p_n;
                            var p_e = document.getElementById(p_id);
                            p_e.style.display = "inline-block";
                            p_e.innerHTML = p_n;
                            p_e.href = "/code/" + p_n;
                            if (cur_page == p_n)
                            {
                                p_e.setAttribute('class', 'active');
                            }
                        }
                    }
                    else if (cur_page > all_page_num-half)
                    {
                        //显示后面showmax页
                        for (var b_n = all_page_num-show_max+1, b_i = 1; b_n <= all_page_num, b_i <= show_max; b_n ++, b_i ++)
                        {
                            var b_id = "page" + b_i;
                            var b_e = document.getElementById(b_id);
                            b_e.style.display = "inline-block";
                            b_e.innerHTML = b_n;
                            b_e.href = "/code/" + b_n;
                            if (cur_page == b_n)
                            {
                                b_e.setAttribute('class', 'active');
                            }
                        }
                    }
                    else
                    {
                        // eg:5 6, 显示前三 当前 后三
                        for (var m1_i = 1, m1_n = cur_page-half+1; m1_i <= half-1, m1_n < cur_page; m1_i ++, m1_n ++)
                        {
                            var m1_id = "page" + m1_i;
                            var m1_e = document.getElementById(m1_id);
                            m1_e.style.display = "inline-block";
                            m1_e.innerHTML = m1_n;
                            m1_e.href = "/code/" + m1_n;
                        }
                        var m2_e = document.getElementById("page4");
                        m2_e.style.display = "inline-block";
                        m2_e.innerHTML = cur_page;
                        m2_e.setAttribute('class', 'active');
                        m2_e.href = "/code/" + cur_page;
                        //cur_page-0+1: 先转str为int
                        for (var m3_i = show_max-half+2, m3_n = cur_page-0+1; m3_i <= show_max, m3_n <= cur_page+half-1; m3_i ++, m3_n ++)
                        {
                            var m3_id = "page" + m3_i;
                            var m3_e = document.getElementById(m3_id);
                            m3_e.style.display = "inline-block";
                            m3_e.innerHTML = m3_n;
                            m3_e.href = "/code/" + m3_n;
                        }
                    }
                }
                //侧边hover位置
                var sidepoes = document.getElementsByName('tooltip-po');
                var lenpoes = sidepoes.length;
                for (var i = 0; i < lenpoes; ++i){
                    //alert(sidepoes[i].style.color);
                }
                //sidepoes[0].style.color = "#888";
                likemeGet();
            }
        </script>
        {% include 'polls/title_info.html' %}
    </head>
    <body class="body-img-main-code" onload="load()">
        <!--
        -->
        {% include 'polls/nav.html' %}

        <div class="outer-align-main outer-main-for-base-top">
            <div class="main">
                <div class="context">
                    {% for object in object_list.1 %}
                    <!-- one article begin -->
                    <article id="post-{{ object.id }}" class="context-article">
                        <div class="">
                            <div class="div-date-decor">
                                <div class="leave-margin-top"></div>
                                <div class="article-mon">{{ object.cr_mon }} MON</div>
                                <div class="article-day">{{ object.cr_day }}</div>
                            </div>
                            <div class="article-side-decorate-div-outer">
                                <div class="tags-font">{{ object.tags.0 }}</div>
                                <div class="article-side-decorate-div"></div>
                            </div>
                        </div>
                        <div class="art">
                            <div class="post-title">{{ object.title }}</div>
                            <div class="post-subtitle">
                                <nobr>
                              <span class="clr-YellowGreen">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-date"></use>
                                    </svg>
                                    {{ object.created }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </span>
                              <span class="clr-Violet">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-ico_yueduliang"></use>
                                    </svg>
                                    {{ object.views }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </span>
                              <span class="clr-Chocolate">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-user"></use>
                                    </svg>
                                    {{ object.author }}
                              </span>
                                </nobr>
                            </div>
							              <div class="post-content"><div class="article-p" name="art_rep_cont">
                                    {{ object.content_html }}
                            </div></div>
                                <div class="post-readmore">
                                    <a class="readmore" href="{% url 'polls:code_detail' articleId=object.id page=1 %}">阅读更多
                                    <svg class="icon shuangyou" aria-hidden="true">
                                        <use xlink:href="#icon-shuangyou"></use>
                                    </svg>
                                    </a>
                                </div>
                        </div>
                    </article>
                    <!-- one article end -->
                    {% endfor %}
                    <div class="main-pagination">
                        <div class="pag-center">
                            <div class="pagination">
                                <a href="#" id="first-page" class="">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-icon-arrow-left2"></use>
                                    </svg>
                                </a>
                                <a href="#" id="page1">1</a>
                                <a href="#" id="page2">2</a>
                                <a href="#" id="page3">3</a>
                                <a href="#" id="page4">4</a>
                                <a href="#" id="page5">5</a>
                                <a href="#" id="page6">6</a>
                                <a href="#" id="page7">7</a>
                                <a href="#" id="last-page" class="">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-icon-arrow-right2"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'polls/code_aside.html' %}
            </div>
        </div>
            <div class="footer-blank" id="footer-blank"></div>
            {% include 'polls/footer.html' %}
            {% include 'polls/fixed.html' %}
    </body>
    <script type="text/javascript">
	    var os = function() {
		    var ua = navigator.userAgent,
			    isWindowsPhone = /(?:Windows Phone)/.test(ua),
			    isSymbian = /(?:SymbianOS)/.test(ua) || isWindowsPhone,
			    isAndroid = /(?:Android)/.test(ua),
			    isFireFox = /(?:Firefox)/.test(ua),
			    isChrome = /(?:Chrome|CriOS)/.test(ua),
			    isTablet = /(?:iPad|PlayBook)/.test(ua) || (isAndroid && !/(?:Mobile)/.test(ua)) || (isFireFox && /(?:Tablet)/.test(ua)),
			    isPhone = /(?:iPhone)/.test(ua) && !isTablet,
			    isPc = !isPhone && !isAndroid && !isSymbian;
		    return {
			    isTablet: isTablet,
			    isPhone: isPhone,
			    isAndroid : isAndroid,
			    isPc : isPc
		    };
	    }();

    if (os.isPhone || os.isAndroid)
    {
    	var v = document.getElementById("footer-blank");
	v.setAttribute('class', 'footer-blank-mobile');
    }
    </script>
</html>
