<!doctype html>
<html>
    <head>
        {% load static %}
        <link href="{% static 'polls/ComingSoon.css' %}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://at.alicdn.com/t/font_526920_qihrql69j0v0a4i.js">
        </script>
        <style type="text/css">
            .icon {
                width: 1em; height: 1em;
                vertical-align: -0.15em;
                fill: currentColor;
                overflow: hidden;
            }
        </style>
    </head>
    <body class="body-img-coming-soon">
        {% include 'polls/nav.html' %}
    </body>
</html>
