{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<script type="text/javascript">
function displaySub(li)
{
    var Sub = li.getElementsByTagName("ul")[0];
    Sub.style.display = "block";
}
function hideSub(li)
{
    var Sub = li.getElementsByTagName("ul")[0];
    Sub.style.display = "none";
}
</script>

<div class="navbar">
    <div class="container">
		<nav>
			<ul class="navul">
				<li class="containermenu navli" onmouseover="displaySub(this)" onmouseout="hideSub(this)">
                    <a href="#">实验室</a>
                    <ul>
                        <li><a href="#">安全</a></li>
                        <li><a href="#">机器学习</a></li>
                        <li><a href="#">C++</a></li>
                    </ul>
                </li>
				<li class="containermenu navli"></li>
				<li class="containermenu navli"></li>
				<li class="containermenu navli"></li>
				<li class="containermenu navli"></li>
			</ul>
		</nav>
    </div>
</div>


{% if latest_question_list %}
  <ul>
    {% for question in latest_question_list %}
      <li>
        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No polls are ava.</p>
{% endif %}
