{% load static %}
<link href="{% static 'polls/style1.css' %}" rel="stylesheet" type="text/css" />

<div id="main">
  <div id="context">
    <article id="post-2000">
        <div>
            <p>&nbsp;</p>
            <p>9 MON</p>
            <h2>20</h2>
            <div>
                <h2>Hello</h2>
                <div></div>
            </div>
        </div>
        <span>
            <div class="post-title">Title</div>
            <div class="post-subtitle">SubTitle</div>
            <p>eswfesafreagteshrehytertrfgesre
            eswfesafreagteshrehytertrfgesredsfarewargearsdfae</p>
            <p>区域中可容纳无限数量的文本，其中的文本的默认字体是等宽字体（通常是 Courier）。
            可以通过 cols 和 rows 属性来规定 textarea 的尺寸大小，不过更好的办法是使用 CSS 的</p>
            <p>区域中可容纳无限数量的文本，其中的文本的默认字体是等宽字体（通常是 Courier）。
            可以通过 cols 和 rows 属性来规定 textarea 的尺寸大小，不过更好的办法是使用 CSS 的</p>
            <p>区域中可容纳无限数量的文本，其中的文本的默认字体是等宽字体（通常是 Courier）。
            可以通过 cols 和 rows 属性来规定 textarea 的尺寸大小，不过更好的办法是使用 CSS 的</p>
            <div class="post-readmore">read more >></div>
        </span>
    </article>
    <article id="post-2001">
        <div>
            <p>&nbsp;</p>
            <p>10 MON</p>
            <h2>01</h2>
            <div>
                <h2>Hii</h2>
                <div></div>
            </div>
        </div>
    </article>
    <article id="post-2002">
        <div>
            <p>&nbsp;</p>
            <p>11 MON</p>
            <h2>01</h2>
            <div>
                <h2>Hll</h2>
                <div></div>
            </div>
        </div>
    </article>
  </div>

  <aside>
    <div id="findme"></div>
    <div id="likeme"></div>
    <div id="talktome"></div>
    <div id="read"></div>
    <div id="closeaside"></div>
  </aside>

</div>
