{% load static %}
<link href="{% static 'polls/style.css' %}" rel="stylesheet" type="text/css" />

<div id="main">
  <div id="context">
    <article id="post-2000">
        <div>
            <p>&nbsp;</p>
            <p>9 MON</p>
            <h2>200</h2>
        </div>
    </article>
    <article id="post-2001"></article>
  </div>

  <aside>
    <div id="findme"></div>
    <div id="likeme"></div>
    <div id="talktome"></div>
    <div id="read"></div>
    <div id="closeaside"></div>
  </aside>

</div>
