<div class="msg-board">
  <div class="msg-board-list">
    <div class="msg-item">
				<div class="msg-item-left">
				</div>
				<div class="msg-item-right">
						<div class="msg-item-right-main-content">
								<div class="msg-title"></div>
								<div class="msg-date"></div>
								<div class="msg-content"></div>
								<div class="msg-reply-button"></div>
						</div>
						<div class="msg-item-reply">	
								<div class="msg-reply-left"></div>
								<div class="msg-reply-right">
								  <div class="msg-title"></div>
								  <div class="msg-date"></div>
								  <div class="msg-content"></div>
								  <div class="msg-reply-button"></div>
								</div>
						</div>
						<div class="msg-item-reply">
						</div>
				</div>
		</div>
    <div class="msg-item">
		</div>
  </div>
	<div class="">
	</div>
</div>
