        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link href="{% static 'polls/nava.css' %}" rel="stylesheet" type="text/css" />
        <style type="text/css">
     		.up-img-cover {width: 45px;height: 45px;}
     		.up-img-cover img{width: 100%;}
        </style>
        <script language="Javascript">
        function reload_page() {
            location.reload(true);
        }
        </script>


        <div class="">
            <nav class="nav-outer">
                <ul class="nav_ul">
                    <li><a class="nav_ul-li-a-l" href="#home">Home</a></li>
                    <li><a class="nav_ul-li-a-l" href="#news">News</a></li>
                    <li><a class="nav_ul-li-a-l" href="#contact">Contact</a></li>
                    <li style="float:right"><a href="">&nbsp;&nbsp;</a></li>
                    {% if request.session.userId %}
                    <li style="float:right"><a class="nav_ul-li-a-r" href="{% url 'polls:logout' %}">断开</a></li>
                    <li style="float:right"><a href="">&nbsp;&nbsp;</a></li>
    	            <li style="float:right;margin-top:4px;" class="up-img-cover"  id="up-img-touch" >
                        <a href="{% url 'polls:newAvatar' %}" target="_blank">
                            <img class="am-circle" alt="点击图片上传" src="{{ request.session.avatar }}" data-am-popover="{content: '点击上传', trigger: 'hover focus'}" ></img>
                        </a>
        	        </li>
                    {% else %}
                    <li style="float:right"><a class="nav_ul-li-a-r" href="{% url 'polls:login' %}">接入</a></li>
                    {% endif %}
                </ul>


                <div class="sign-in-up">
                </div>
            </nav>
        </div>

