<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--
        <meta name="viewport" content="width=device-width, initial-scale=1">
        -->
        {% load static %}
        <link href="{% static 'polls/ourstory_article.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'polls/Resource/effect/firework/firework.css' %}" rel="stylesheet" />
        <script src="{% static 'polls/Resource/effect/firework/firework.js' %}"></script>
        <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://at.alicdn.com/t/font_2272641_rk3eplagq5.js">
        </script>

        <style type="text/css">
            html, body {
                height: 100%;
            }
            .icon {
                width: 1em; height: 1em;
                vertical-align: -0.15em;
                fill: currentColor;
                overflow: hidden;
            }

            .full-height {
            }

            .wrapper {
                min-height: 100%;
                margin-bottom: -150px;
            }
        </style>

        <script type="text/javascript">
            function footerPositionNew(){
                $("#footer-outer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,//网页正文全文高度
                    winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
                if(!(contentHeight > winHeight)){
                    //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                    $("#footer-outer").addClass("fixed-bottom");
                }
            }


            function load(){
                //设置评论内容的标签转化
                var resetValueEs = document.getElementsByName("resetValue");
                var resetValueLen = resetValueEs.length;
                for (var resetValueIdx = 0; resetValueIdx < resetValueLen; resetValueIdx ++)
                {
                    resetValue(resetValueEs[resetValueIdx]);
                }
                //固定显示7页
                var show_max = 7;
                var msg = document.getElementById("info").innerHTML;
                var all_page_num = msg.split('_')[0];
                var cur_page = msg.split('_')[1];
                var article_id = msg.split('_')[2];
                //回传ArticleId(用于表单提交)
                var getArticleIds = document.getElementsByName("get-article-id");
                var iFormSize = getArticleIds.length;
                for (var ar_i = 0; ar_i < iFormSize; ar_i ++)
                {
                    getArticleIds[ar_i].value = article_id;
                }
                //回传page(用于表单提交)
                var getPageReplys = document.getElementsByName("get-page");
                var iPageReplySize = getPageReplys.length;
                for (var gPareply_i = 0; gPareply_i < iPageReplySize; gPareply_i ++)
                {
                    getPageReplys[gPareply_i].value = cur_page;
                }
                //document.getElementById("get-page-comment").value = "1";

                document.getElementById('first-page').style.display = "inline-block";
                document.getElementById('first-page').href = "/msgboard/" + article_id + "/1";
                document.getElementById('last-page').style.display = "inline-block";
                document.getElementById('last-page').href = "/msgboard/" + article_id + "/" + all_page_num;
                var comment_e = document.getElementById('reply-form-comment').lastElementChild.lastElementChild.previousElementSibling;
                comment_e.placeholder = "今天的风儿，甚是喧嚣呢...";
                comment_e.setAttribute('rows', '3');

                if (all_page_num <= show_max)
                {
                    for (var i = 1; i <= all_page_num; ++i)
                    {
                        var id = "page" + i;
                        var e = document.getElementById(id);
                        e.style.display = "inline-block";
                        e.innerHTML = i;
                        e.href = "/msgboard/" + article_id + "/" + i;
                        if (i == cur_page)
                        {
                            e.setAttribute('class', 'active');
                        }
                    }
                }
                else
                {
                    //判断当前页和总页
                    //1 2 3 4 5 6 7 8 9 10
                    var half = Math.round(show_max / 2);
                    if (cur_page <= half)
                    {
                        //显示前面showmnax页
                        for (var p_n = 1; p_n <= show_max; p_n ++)
                        {
                            var p_id = "page" + p_n;
                            var p_e = document.getElementById(p_id);
                            p_e.style.display = "inline-block";
                            p_e.innerHTML = p_n;
                            p_e.href = "/msgboard/" + article_id + "/" + p_n;
                            if (cur_page == p_n)
                            {
                                p_e.setAttribute('class', 'active');
                            }
                        }
                    }
                    else if (cur_page > all_page_num-half)
                    {
                        //显示后面showmax页
                        for (var b_n = all_page_num-show_max+1, b_i = 1; b_n <= all_page_num, b_i <= show_max; b_n ++, b_i ++)
                        {
                            var b_id = "page" + b_i;
                            var b_e = document.getElementById(b_id);
                            b_e.style.display = "inline-block";
                            b_e.innerHTML = b_n;
                            b_e.href = "/msgboard/" + article_id + "/" + b_n;
                            if (cur_page == b_n)
                            {
                                b_e.setAttribute('class', 'active');
                            }
                        }
                    }
                    else
                    {
                        // eg:5 6, 显示前三 当前 后三
                        for (var m1_i = 1, m1_n = cur_page-half+1; m1_i <= half-1, m1_n < cur_page; m1_i ++, m1_n ++)
                        {
                            var m1_id = "page" + m1_i;
                            var m1_e = document.getElementById(m1_id);
                            m1_e.style.display = "inline-block";
                            m1_e.innerHTML = m1_n;
                            m1_e.href = "/msgboard/" + article_id + "/" + m1_n;
                        }
                        var m2_e = document.getElementById("page4");
                        m2_e.style.display = "inline-block";
                        m2_e.innerHTML = cur_page;
                        m2_e.setAttribute('class', 'active');
                        m2_e.href = "/msgboard/" + article_id + "/" + cur_page;
                        //cur_page-0+1: 先转str为int
                        for (var m3_i = show_max-half+2, m3_n = cur_page-0+1; m3_i <= show_max, m3_n <= cur_page+half-1; m3_i ++, m3_n ++)
                        {
                            var m3_id = "page" + m3_i;
                            var m3_e = document.getElementById(m3_id);
                            m3_e.style.display = "inline-block";
                            m3_e.innerHTML = m3_n;
                            m3_e.href = "/msgboard/" + article_id + "/" + m3_n;
                        }
                    }
                }
            }
        </script>
        {% include 'polls/our_title_info.html' %}
    </head>

    <body onload="load()" class="body">
        {% include 'polls/nav_ourstory.html' %}

        <script src="{% static 'polls/googleapis/jquery.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <!-- Modal -->
        <button type="button" class="delete-msg-btn" data-toggle="modal" data-target="#myModal" id="deleteMsgModal">
            deleteMsg
        </button>

        <div class="msg-board-page full-height">

            <div class="wrapper-deprecated">
            <!-- 留言板头部 -->
            <article id="post-1002-2" class="context-article-origin">
                <div class="art-msgboard-cont">
                    <div class="art-msgboard-head">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xingxing2"></use>
                    </svg>
                    星星与远方
                    </div>
                    <div class="art-msgboard-body">
                        请恕我直言
                    </div>
                </div>
            </article>
            <div class="leave-margin-head"></div>

            </div>
        </div>

        <div class="hidden-messages" id="hidden-messages">
            {% for m in messages %}
            <div id="{{ m.tags }}">{{ m }}</div>
            {% endfor %}
        </div>
        {% include 'polls/fixed.html' %}
    </body>
</html>

