<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--
        <meta name="viewport" content="width=device-width, initial-scale=1">
        -->
        {% load static %}
        <link href="{% static 'polls/ourstory_article.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'polls/Resource/effect/firework/firework.css' %}" rel="stylesheet" />
        <script src="{% static 'polls/Resource/effect/firework/firework.js' %}"></script>
        <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://at.alicdn.com/t/font_2272641_rk3eplagq5.js">
        </script>

        <style type="text/css">
            html, body {
                height: 100%;
            }
            .icon {
                width: 1em; height: 1em;
                vertical-align: -0.15em;
                fill: currentColor;
                overflow: hidden;
            }

            .full-height {
            }

            .wrapper {
                min-height: 100%;
                margin-bottom: -150px;
            }
        </style>

        <script type="text/javascript">
            function footerPositionNew(){
                $("#footer-outer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,//网页正文全文高度
                    winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
                if(!(contentHeight > winHeight)){
                    //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                    $("#footer-outer").addClass("fixed-bottom");
                }
            }
        </script>
        {% include 'polls/our_title_info.html' %}
    </head>

    <body onload="load()" class="body">
        {% include 'polls/nav_ourstory.html' %}

        <script src="{% static 'polls/googleapis/jquery.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <!-- Modal -->
        <button type="button" class="delete-msg-btn" data-toggle="modal" data-target="#myModal" id="deleteMsgModal">
            deleteMsg
        </button>

        <div class="msg-board-page full-height">

            <div class="wrapper-deprecated">
            <!-- 留言板头部 -->
            <article id="post-1002-2" class="context-article-origin">
                <div class="art-msgboard-cont">
                    <div class="art-msgboard-head">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xingxing2"></use>
                    </svg>
                    星星与远方
                    </div>
                    <div class="art-msgboard-body">
                        请恕我直言
                    </div>
                </div>
            </article>
            <div class="leave-margin-head"></div>

            </div>
        </div>

        <div class="hidden-messages" id="hidden-messages">
            {% for m in messages %}
            <div id="{{ m.tags }}">{{ m }}</div>
            {% endfor %}
        </div>
        {% include 'polls/ourstory_fixed.html' %}
    </body>
</html>

