<!DOCTYPE html>

<html>
  {% load static %}
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="{% static 'polls/sign1.css' %}" rel="stylesheet" type="text/css" />

  <!--
  {% if form.non_field_errors %}
  <div class="messages">
    <div class="alert alert-warning alert-dismissible" role="alert">
      {{ form.non_field_errors }}
    </div>
  </div>
  {% endif %}
  -->

<div class="outer-align-main">
<div class="sign-main">
  <div class="register center-block">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>注册</strong></h3>
      </div>
      <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
          <div class="form-group {% if form.username.errors %} has-error {% endif %}">
            <label for="">{{ form.username.label }}</label>
            {% if form.username.errors %}
            <span class="text-danger pull-right">{{ form.username.errors }}</span>
            {% endif %}
            {{ form.username }}
            <p class="text-muted">{{ form.username.help_text }}</p>
          </div>
          <div class="form-group {% if form.sex.errors %} has-error {% endif %}">
            <label for="">{{ form.sex.label }}</label>
            {% if form.sex.errors %}
            <span class="text-danger pull-right">{{ form.sex.errors }}</span>
            {% endif %}
            {{ form.sex }}
            <p class="text-muted">{{ form.sex.help_text }}</p>
          </div>
          <div class="form-group {% if form.email.errors %} has-error {% endif %}">
            <label for="">{{ form.email.label }}</label>
            {% if form.email.errors %}
            <span class="text-danger pull-right">{{ form.email.errors }}</span>
            {% endif %}
            {{ form.email }}
            <p class="text-muted">{{ form.email.help_text }}</p>
          </div>
          <div class="form-group {% if form.password.errors %} has-error {% endif %}">
            <label for="">{{ form.password.label }}</label>
            {{ form.password }}
            <p class="text-muted">{{ form.password.help_text }}</p>
          </div>
          <div class="form-group {% if form.confirm_password.errors %} has-error {% endif %}">
            <label for="">{{ form.confirm_password.label }}</label>
            {% if form.non_field_errors %}
            <span class="text-danger pull-right">{{ form.non_field_errors }}</span>
            {% endif %}
            {{ form.confirm_password }}
          </div>
          <button type="submit" class="btn btn-default">注册</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</html>

